# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Python test/cache
.pytest_cache/
.mypy_cache/

# Temporary files
*.tmp
*.temp
*.log

# SQLite temporary files
*.db-shm
*.db-wal

# Generated SQLite database
*.db
